apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: weather-api-hpa
  namespace: weather
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: weather-api
  minReplicas: 3
  maxReplicas: 20
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 60
